@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
body {
  opacity: 0.98;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("https://cdn.pixabay.com/photo/2018/06/26/18/42/storm-clouds-3499982__340.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 15px !important;
  box-sizing: border-box;
  /* height: 100vh; */
  
  margin: 0;
  padding: 0;
}
h2 {
  font-family: "Lobster", cursive;
}
.App {
  max-width: 1000px;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(244, 232, 255);
}
.wrapper {
  margin: 30px 30px;
  padding: 30px;
}
input {
  padding: 10px;
  outline: none;
  border-radius: 7px;
  border: 0.5px solid gray !important;
}
button:focus {
  box-shadow: none !important;
}
button:hover {
  background: #5c5a5a !important;
}
input:focus {
  outline: none;
  border-color: black !important;
  box-shadow: 0 0 2px black !important;
}
